.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: blue;
  flex-grow: 1;
  flex-direction: row;
}

.navItem {
  display: flex;
  margin: 5px;
  color: white;
  background-color: blue;

}


.buttonNavItem {
  display: flex;
  color: white;
  background-color: slategray;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
